<html>
<head>
	<title>welcome to templates file</title>
</head>
<body bgcolor="pink" border="3">
	<center><h1>welcome to my blog</h1>
		<table>
			<tr>
				<td><img src="https://images.pexels.com/photos/196664/pexels-photo-196664.jpeg?cs=srgb&dl=anniversary-bloom-blooming-196664.jpg&fm=jpg" height="200" width="200"></td>
				<td><img src="https://images.pexels.com/photos/1019475/spring-pink-tulip-flower-1019475.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="200" width="200"></td>
				<td><img src="https://cdn.xl.thumbs.canstockphoto.com/image-of-fresh-jasmine-flower-background-stock-photo_csp7628054.jpg" height="200" width="200"></td>
				<td><img src="https://www.yogajournal.com/.image/t_share/MTQ2MTgwNjcyNzUxMTUwNjI0/lotusflower.jpg" height="200" width="200"></td>
			</tr>
		</table>
	</center>
</body>
</html>		
